main {
  //
}
.category {
  padding: 40px 0;
}

.category_inner {
  @include content_centered;

  h2 {
    font-size: 36px;
    font-weight: $f_light;
  }

  ul {
    flex-grow: 1;
    list-style: none;

    @media #{$minXS} {
      columns: 2;
    }

    @media #{$minSM} {
      columns: 3;
    }

    @media #{$minLG} {
      columns: 4;
    }

    @media #{$minXL} {
      columns: 5;
    }

    @media #{$minXXL} {
      columns: 6;
    }
  }

  li {
    font-size: 14px;
    line-height: (24 / 14) * 1em;
  }

  a {
    color: $black;
    text-decoration: none;
    transition: color 0.25s;

    &:hover {
      color: $facebook;
    }
  }

  @media #{$minMD} {
    display: flex;
    align-items: center;

    h2 {
      width: 20%;
    }
  }
}

.most_clicked {
  background-color: #F0F0E9;
  mix-blend-mode: multiply;
}
