header {
  @include content_centered;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px $outer_padding;

  @media #{$minMD} {
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 52px $outer_padding;
  }
}

.header_center {
  order: 1;
  width: 100%;

  h1 {
    color: $white;
    font-size: 49px;
    font-weight: $f_light;
    letter-spacing: 0.4em;
    padding-left: 0.4em;
    text-align: center;
    text-transform: uppercase;
  }

  @media #{$minMD} {
    width: auto;
    flex-grow: 1;
    order: 2;
    padding: 0 75px;
  }
}

.google_search {
  input[type="submit"] {
    @include visually_hide;
  }

  input[type="text"] {
    width: 100%;
    background: $gray;
    mix-blend-mode: multiply;
    border-radius: 6px;
    color: $white;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    padding: 8px;
  }
}

.header_left {
  order: 1;
  padding: 20px;
  display: none;
}

.header_right {
  order: 3;
  padding: 20px;
}

@media #{$minMD} {
  .header_left,
  .header_right {
    padding: 0;
  }
}

.quicklinks {
  margin-bottom: 20px;
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

  li {
    width: 34px;
    height: 34px;
    font-size: 20px;
    line-height: 34px;

    + li {
      margin-left: 22px;
    }
  }

  a {
    width: 100%;
    height: 100%;

    border: 2px solid $white;
    border-radius: 50%;
    color: $white;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: background 0.25s;

    &.google {
      background: $google;

      &:hover {
        background: lighten($google,8);
      }
    }

    &.gmail {
      background: $gmail;

      &:hover {
        background: lighten($gmail,8);
      }
    }

    &.facebook {
      background: $facebook;

      &:hover {
        background: lighten($facebook,8);
      }
    }

    &.twitter {
      background: $twitter;

      &:hover {
        background: lighten($twitter,8);
      }
    }

    span {
      @include visually_hide;
    }

    i {
      position: relative;
      top: -2px;
    }
  }
}

.calendar {
  color: $white;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  text-align: center;

  .month {
    display: block;
    font-size: 25px;
    font-weight: $f_light;
    line-height: 1em;
  }

  .day {
    font-size: 51px;
    font-weight: $f_light;
    line-height: (44 / 51) * 1em;
  }
}

.calendar_grid {
  margin-left: 18px;
  th,td {
    font-size: 14px;
    text-align: center;
  }

  th {
    font-weight: $f_bold;
  }

  td {
    font-weight: $f_light;
    &.current {
      color: $gray;
    }
  }
}


.weather {
  color: $white;
}

.current_conditions {
  text-align: center;

  .current_temp {
    font-size: 81px;
    font-weight: $f_light;
  }

  .current_details {
    font-size: 18px;
    font-weight: $f_reg;
  }
}

.forcast {
  width: 100%;
  min-width: 245px;
  display: flex;
  list-style: none;
  justify-content: space-between;

  li {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
