header {
  @include content_centered;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 52px $outer_padding;
}

.header_center {
  order: 2;

  h1 {
    color: $white;
    font-size: 49px;
    font-weight: $f_light;
    letter-spacing: 0.4em;
    padding-left: 0.4em;
    text-align: center;
    text-transform: uppercase;
  }
}

.google_search {
  input[type="submit"] {
    @include visually_hide;
  }

  input[type="text"] {
    width: 100%;
    background: $gray;
    mix-blend-mode: multiply;
    border-radius: 6px;
    color: $white;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    padding: 8px;
  }
}

.header_right {
  order: 3;
}

.quicklinks {
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

  li {
    width: 32px;
    height: 32px;
    font-size: 20px;
    line-height: 32px;
    margin-left: 20px;
  }

  a {
    width: 100%;
    height: 100%;

    border: 2px solid $white;
    border-radius: 50%;
    color: $white;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: background 0.25s;

    &.google {
      background: $google;

      &:hover {
        background: lighten($google,8);
      }
    }

    &.gmail {
      background: $gmail;

      &:hover {
        background: lighten($gmail,8);
      }
    }

    &.facebook {
      background: $facebook;

      &:hover {
        background: lighten($facebook,8);
      }
    }

    &.twitter {
      background: $twitter;

      &:hover {
        background: lighten($twitter,8);
      }
    }

    span {
      @include visually_hide;
    }

    i {
      position: relative;
      top: -2px;
    }
  }
}
