@font-face {
	font-family: "portal";
	src: url('../fonts/portal.eot');
	src: url('../fonts/portal.eot?#iefix') format('eot'),
		url('../fonts/portal.woff2') format('woff2'),
		url('../fonts/portal.woff') format('woff'),
		url('../fonts/portal.ttf') format('truetype'),
		url('../fonts/portal.svg#portal') format('svg');
}

.icon:before {
	font-family: "portal";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-facebook:before {
	content: "\E001";
}

.icon-google:before {
	content: "\E002";
}

.icon-mail:before {
	content: "\E003";
}

.icon-twitter:before {
	content: "\E004";
}

.icon-weather_clear moon:before {
	content: "\E005";
}

.icon-weather_cloudy:before {
	content: "\E006";
}

.icon-weather_fog:before {
	content: "\E007";
}

.icon-weather_partly clear rain moon:before {
	content: "\E008";
}

.icon-weather_partly cloudy moon:before {
	content: "\E009";
}

.icon-weather_partly cloudy rain:before {
	content: "\E00A";
}

.icon-weather_partly sunny:before {
	content: "\E00B";
}

.icon-weather_rain:before {
	content: "\E00C";
}

.icon-weather_snow:before {
	content: "\E00D";
}

.icon-weather_sunny:before {
	content: "\E00E";
}

.icon-weather_thunderstorm:before {
	content: "\E00F";
}

.icon-weather_wind rain:before {
	content: "\E010";
}

.icon-weather_windy cloudy:before {
	content: "\E011";
}

.icon-weather_windy:before {
	content: "\E012";
}

.icon-weather_winter mix:before {
	content: "\E013";
}
