{%
  set title = "Aaron's Portal"
 %}<!DOCTYPE HTML>
<html>
<head>
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div class="page_wrapper">
  <header>
    <div class="header_center">
      <h1>{{title}}</h1>
      <div class="google_search">
        <form action="http://www.google.com/search" method="GET">
          <input type="text" value="" maxlength="255" size="31" name="q" placeholder="Search Google">
          <input type="submit" value="Search" name="btnG">
        </form>
      </div>
    </div>
    <div class="header_right">
      Hi!
    </div>
  </header>
  <main>
    main.
  </main>
</div>
</body>
</html>
