{% set title = "Aaron's Portal"
 %}<!DOCTYPE HTML>
<html>
<head>
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div class="page_wrapper">
  <header>
    <div class="header_center">
      <h1>{{title}}</h1>
    </div>
  </header>
  <main>
    main.
  </main>
</div>
</body>
</html>
